<div class="title">Now Playing</div>
<br/>
<div id="movies_accordion">
  <% @movies.each do |movie| %>
      <h3><a href="#"><%=  movie.name %></a></h3>
      <div>
        <%= link_to 'Click for Showtimes', movie_showtimes_path(movie), :class => 'showtime_link' %>
        <hr/>
        <div class="movie_now_playing">
          <span style="color:#999999">Now playing at:</span><br/>
            <% movie.theaters.uniq.each do |theater| %>
              <%= theater.name %><br/>
            <% end %>
          </ul>
        </div>
        <div class="movie_synopsis">
          <%= movie.description %>
        </div>
        <div class="movie_info">
          Running time: <%= movie.running_time %> min<br/>
          Rating: <% (0..movie.rating.to_i).each do %>*<% end %>
        </div>
      </div>
  <% end %>
</div>
<br/>
