<div class="title"><%= @theater.name %> : Showtimes</div>

<table class="table">
  <tr>
    <th>Movie</th>
    <th>Showtimes</th>
  </tr>
  
<% movie_index = 1
   @movie_hash.keys.each do |movie_id|
   @movie = Movie.find(movie_id) %>
  <tr>
    <td class="movie_name_cell">
      <%= link_to @movie.name, movie_path(@movie) %>
    </td>
    <td>
    <% showtime_index = 1
       @movie_hash[movie_id].each do |showtime| %>
      <%= (showtime != @movie_hash[movie_id].first) ? ',' : '' %>
      <span class="<%= if showtime.seats_available > 0 and showtime.seats_available < 10 then
                         'running_out'
                       elsif showtime.seats_available > 0 then
                         'available'
                       else
                         'sold_out'
                       end
                     %>">
        <%= link_to showtime.time+' p.m.', showtime_path(showtime),
                    :id => 'showtime_'+movie_index.to_s+'_'+showtime_index.to_s %>
      </span>
    <% showtime_index += 1
       end %>
    </td>
  </tr>
<% movie_index += 1
   end %>
</table>