<p id="notice"><%= notice %></p>

<p>
  <b>Movie:</b>
  <%= @showtime.movie_id %>
</p>

<p>
  <b>Seats available:</b>
  <%= @showtime.seats_available %>
</p>

<p>
  <b>Theater:</b>
  <%= @showtime.theater_id %>
</p>

<p>
  <b>Time:</b>
  <%= @showtime.time %>
</p>


<%= link_to 'Edit', edit_showtime_path(@showtime) %> |
<%= link_to 'Back', showtimes_path %>
