<div class="title">Local Theaters</div>
<br/>
<div id="theaters_accordion">
<% @theaters.each do |theater| %>
  <h3><a href="#"><%=  theater.name %></a></h3>
  <div>
    <%= link_to 'Click for Showtimes', theater_showtimes_path(theater), :id => 'showtime_link' %>
    <hr/>
    <div class="theater_now_playing">
      Now playing
      <ul>
        <% theater.movies.uniq.each do |movie| %>
          <li><%= movie.name %></li>
        <% end %>
      </ul>
    </div>
    <div class="theater_info">
      <%= theater.description %>
    </div>
    <div class="theater_location">
      Zip Code <%= theater.zip %>
    </div>
  </div>
<% end %>
</div>
