<!DOCTYPE html>
<html>
<head>
  <title>Movietix</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  MOVIETIX!
  <div class="login_container ui-corner-all ui-widget-content">
  <% if @logged_in then %>
    Welcome, <%= @user.name %>
  <% else %>
    Log In
  <% end %>
  </div>
</header>
<div id="content" class="ui-widget-content">
<%= yield %>
</div>
<footer></footer>
</body>
</html>
